body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111;
}

#homepage-main {
  height: 100vh;
  overflow-y: hidden;
  position: relative;
  background-color: #1e1e1e;
  color: #fff;
}

#homepage-main-elelments {
  width: 300%;
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
}

h1,
a {
  pointer-events: all;
}